@import url("https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap");

:root {
  --color-header: white;
  --color-parag: rgb(226, 173, 75);
  --color-form: rgba(168, 158, 158, 0.815);
  --color-button: rgba(80, 80, 165, 0.8);
  --color-btn-hover: rgba(113, 113, 218, 0.8);
  --color-container: blanchedalmond;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Baloo Da 2", cursive;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0; 
  background-image: url("IndexFondo2.JPG");
  background-size: cover;
  background-position: center;
}

.container {
  width: 100%;
  margin: 2rem auto 2rem auto;
}

/*--------------- responsive ----------------*/

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.header {
  padding: 1rem 0.5rem;
  margin: 2rem 0 1rem 0;
}

.center {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

#title {
  line-height: 2;
  font-weight: 600;
  box-shadow: 2px 2px 10px var(--color-form);
  color: var(--color-header);
}

#description {
  color: white;
  font-weight: bold;
}

#survey-form {
  background-color: var(--color-container);
  padding: 2.5rem 0.625rem;
  border-radius: 0.3rem;
  margin: 0.25rem;
}

.form {
  margin: 0 2rem 1rem 2rem;
  padding: 0.25rem;
}

label {
  display: flex;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.text {
  display: inline-block;
  width: 100%;
  height: 2rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--color-form);
  color: #495057;
  padding: 0.25rem 0.75rem;
}

select {
  display: block;
  width: 100%;
  height: 2rem;
  padding: 0.25rem 0.75rem;
  background-color: var(--color-header);
  border: 1px solid var(--color-form);
  border-radius: 0.25rem;
}

.radio,
.checkbox {
  display: inline-block;
  margin: 0.225rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}
.textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

button {
  border: none;
}

.submit-btn {
  display: block;
  width: 100%;
  height: 2rem;
  background: var(--color-button);
  color: var(--color-header);
  border-radius: 0.25rem;
  cursor: pointer;
}

.submit-btn:hover {
  background: var(--color-btn-hover);
}

a{
  text-decoration: none;
}