@import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
  background-image: url('IndexFondo2.JPG');
  background-size: cover;
  font-family: Abel, Arial, Verdana, sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.login-box {
    position: absolute;
    left: 50%;
    width: 520px;
    padding: 20px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 25px 45px rgba(0,0,0,.7);
    border-radius: 10px;
  }

  .login-box .title {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }

.card {
  width: 425px;
  height: 225px;
  background-color: #fff;
  color: #fff;
  background: linear-gradient(#23000fc7,#4a0322c7);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#23000f,#4a0322);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.card.green .additional .more-info h1 {
  color: #224C36;
}


.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: auto;
  left: 1rem;
  right: 1rem;
  top: 6rem;
  color: #fff;
}

.card.green .additional .stats {
  color: #325C46;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 275px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #23000f;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.btn:hover {
  background: #a89ca1;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #8b3753,
              0 0 25px #8b3753,
              0 0 50px #8b3753,
              0 0 100px #8b3753;
}


